


.chatbox{
  border-style: solid;
  border-radius: 30px;
  height: 60%;
  width: 50%;

  font-size: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: auto;
}

.chatinput {
display: block;
margin-left: auto;
margin-right: auto;
}

.chatinputbox{
  width: 80%;
  height: 60%;
  border-radius: 10px;
  box-shadow: black;
  position: absolute;
  margin-left: 10%;
  margin-top: 1%;
}

.chatstream {
  font-size: 20px;
  position: absolute;

  left: 2%;
  width: 98%;

bottom: 15%;
  overflow: scroll;

}

.messagebar{
  width: 100%;
  height: 10%;
  border-radius: 0px 0px 30px 30px;
  background-color: skyblue;
  position: absolute;
  bottom: 0px;
}

.scrolloverflow{
  height: 50px;
  width: 200px;
  overflow: auto
}
